.feedback-screen-container {
    position: absolute;
    left: 400px;
    top:40px;
    height: 100%;
    width: 60%;
  }

  .feedback-screen-content {
    margin-top: 100px;
    text-align: center;
  }

  @media all and (min-width: 480px) {
    .CustomerFeedBack {
      padding: 60px 0;
    }
  
    .CustomerFeedBack form {
      margin: 0 auto;
      max-width: 320px;
    }
  }