.home-screen-container {
    position: absolute;
    left: 200px;
    top:50px;
    height: 100%;
    width: 80%;
    float: right;
}
.home-screen-content {
    margin-top: 100px;
    text-align: center;
}